**/proj_modelsim/work
**/proj_modelsim/vsim.wlf
**/proj_quartus/db
**/proj_quartus/incremental_db
**/proj_quartus/simulation
*.bak
*.wlk
*.ini
**/proj_quartus/output_files
**/proj_quartus/greybox_tmp
**/src/greynox_tmp
*.mti
*.mpf
*.qws
*.ppf
*.qip
transcript
!*.sof
**/proj_modelsim/wlft*
